html,
body {
  font-size: 18px;
  background-color: #7e7e80;
}
.App {
    font-family: sans-serif;
  }
  .container {
    position: absolute;
    transform: translate(0, -50%);
    width: 30%;
    height: 30%;
    position: center;
    margin: 20%;
  }
  button {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    outline: none;
    border: none;
    margin: 30px 2px;
    border-radius: 20px;
  }
  button:nth-of-type(1) {
    background: green;
  }
  button:nth-of-type(2) {
    background: red;
  }
  button:nth-of-type(3) {
    background: yellow;
  }
  